nav {
   background-color: transparent;
   backdrop-filter: blur(8px);
   font-family: Consolas,serif;
}
body {
   background-image: url('../img/background7.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
   min-height: 100vh; 
   height: 100%;
   width: 100%;
}
.box1 {
   position: relative;
}
.user-log {
   font-size: 100px;
   display: flex;
   justify-content: center;
   margin-top: 40px;
   color: white;
}
.text1 {
   display: fixed;
   justify-content: center;
   text-align: center;
   top: 30px;
   font-family: 'Segoe UI', Sans-Serif;
   color: white;
   font-weight: bold;
   margin: 5px ;
}
ul {
   list-style: none;
   padding: 0px; 
   margin: 0px;
}
ul li {
   display: inline-block;
   position: relative;
}
ul li a {
   text-decoration: none;
   display: block;
   margin:10px; 
   padding: 10px;
   color: black;
   font-weight: bold;
   border-bottom: 5px solid white;
}